<h2>Template: Switches</h2>
<hr>


<!-- radios -->
<form [formGroup]="miFormulario" (ngSubmit)="guardar()" >
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input  class="form-check-input" 
                        type="radio" 
                        value="M"
                        
                        id="radioMasculino"
                        formControlName="genero"
                       >
                <label class="form-check-label" for="flexCheckDefault">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input  class="form-check-input" 
                        type="radio"
                        value="F"
                        
                        id="radioFemenino"
                        formControlName="genero"
                        >
                <label class="form-check-label" for="flexCheckChecked">
                  Femenino
                </label>
              </div>

        </div>
    </div>

<!-- switches -->
    <div class="row mb-3">
        <div class="col-sm-3 col-form-label">Notificaciones</div>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input  class="form-check-input" 
                        type="checkbox"
                        id="flexSwitchCheckChecked" 
                        formControlName="notificaciones"
                        >
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
              </div>
        </div>
    </div>

    <div class="row mb-3">
        
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">

                <input  class="form-check-input" 
                        type="checkbox"  
                        id="flexSwitchCheckDefault"
                        formControlName="condiciones"
                    >
                <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Terminos y condiciones
                </label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" 
                    type="submit"
                >Gurdar</button>
        </div>
    </div>
</form>

<h5>VALOR DEL FORMULARIO</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>
<h5>Persona</h5>
<pre>{{persona | json }}</pre>
<br>
<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>

<br>
<pre>Condiciones:</pre> 